{% extends 'catalog/add_car.html' %}
{% load django_bootstrap5 %}

{% block title %}Edit Car{% endblock %}

{% block left %}
<h1>Edit or Delete Car</h1>
<form class="form-control-sm" method="post">
    {% csrf_token %}
    {% bootstrap_form_errors form type='non_fields' %}
    {% bootstrap_form form layout='horizontal' size='sm' %}
    <button type="submit" class="btn btn-primary">Editar</button>
</form>
<a href="{% url 'delete_car' id=car.id %}" class="btn btn-danger">Eliminar</a>
{% endblock %}

{% block right %}
<h1>Búsqueda de Coches</h1>
<h2>Cars</h2>
Number of cars: {{ cars|length }}
<ul>
    {% for item in cars %}
    <li><a href="{% url 'edit_car' id=item.id %}">{{ item.matricula }}</a></li>
    {% endfor %}
</ul>
<h1>Búsqueda de Coches</h1>
<form method="get">
    {{ search_form.as_p }}
    <button type="submit" class="btn btn-secondary">Buscar</button>
</form>

<h2>Resultados de la búsqueda</h2>
<ul>
    {% for car in cars %}
    <li>{{ car.matricula }} - {{ car.chasis }} - {{ car.f_matriculacion }}</li>
    {% endfor %}
</ul>
{% endblock %}
